*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.container{
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
}
.container__title, .container__subtitle{
    text-align: center;

}

.container__layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;


    /* grid-template-columns: calc(25%-10px) calc(50%-10px) calc(25%-10px); */
    /* grid-template-columns: 1fr 2fr 1fr; */
    /* grid-template-columns: repeat(4,1fr); */
    grid-template-rows: 1fr 3fr 1fr 4fr;
    height: 700px;
}

.layout__box{
    font-size: 20px;
    padding: 20px;
    color: white;
}
.layout__box--red{
    background-color: red;
}
.layout__box--green{
    background-color: green;
}
.layout__box--yellow{
    background-color: yellow;
}
.layout__box--blue{
    background-color: blue;
}
.layout__box--cyan{
    background-color: cyan;
}
.layout__box--orange{
    background-color: orange;
}
.layout__box--black{
    background-color: black;
}
.layout__box--pink{
    background-color: pink;
    grid-column-start: 2;
    grid-column-end: 4;
    /* grid-column: 2/4 */
}
.layout__box--salmon{
    background-color: salmon;
}
.layout__box--yellowGreen{
    background-color: yellowgreen;
    grid-column-start: 1;
    grid-column-end: 5;
}
